/* My comment */


@import "C:\Users\user\Desktop\HOLBERTON\holbertonschool-web-development\sass_scss\10-colors.scss"

.red {
    color: $red; }
  
  .green {
    color: $green; }
  
  .blue {
    color: $blue; }







